{% extends "base.html" %}
{% load static %}

{% block extraCss %}

<link rel="stylesheet" href="{% static 'burger_app/css/menu.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik:wght@300;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extraCss %}
{% block extraHtml %}
<div class="view-image">
    <h1 id="view-image-title">name</h1>
    <img src="" alt="Burger Republic">
    <p id="view-image-description"> description</p>
    <span>X</span>
    <i class="fa-regular fa-circle-right fa-sm next-image-button" style="color: crimson;"></i>
    <i class="fa-regular fa-circle-left fa-sm prev-image-button" style="color: crimson;"></i>

</div>
{% endblock extraHtml %}
{% block content %}
    <div class="site-overlay"></div>

    <!-- Your Content -->
    <div id="container">

        <div class="container">
            <div class="main-container row">
                <div id="logo">
                    <a href="{% url 'burger_app:index' %}">
                        <div class="logo-icon"><img src="{% static 'burger_app/img/logo.png' %}" /></div>
                        <div class="logo-type">Burger Republic</div>

                    </a> 
                </div>
            </div>
        </div>

        <div id="full-width-header" class="full-width" style="top: 0px;">
            <!-- <div class="triangle top"></div> -->
            <div class="inner">
                <div class="slide">
                    <div class="inner-slide">
                        <img class="about_image"  src="{% static 'burger_app/img/slider/burger_slider.jpg' %}" style="max-height: 560px!important;">
                    </div>
                </div>
            </div>
            <!-- <div class="triangle bottom"></div> -->
        </div>
        
        <div class="clear"></div>

        <div class="container full-page">
            <div id="our-food" class="main-container">
                <div class="row">
                    <div class="main-content col">
                        <div class="title">
                            <h1>Menu</h1>
                        </div>
                        <div class="intro">
                            <h2></h2>
                        </div>
                        <div class="content">
                            <p>At Burger Republic, our menu is crafted with care, offering a variety of bold, flavorful burgers made from the freshest ingredients. From juicy classics to adventurous new flavors, each bite promises to satisfy your cravings and elevate your burger experience.</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                
                
                
            </div>
        </div>
        
        <div class="clear space-area"></div>

        <div class="triangle top promotion"></div>
        <!-- Container for promotion content -->
        <div class="container promotion">
            <div id="promotion" class="main-container">
                <div class="row">
                    <div class="promotion-title col">
                        <div class="title">
                            <h1>Burgers</h1>
                            
                        </div>
                    </div>
                    <div class="promotion-button col">
                        <div class="button-container">
                             <!-- <a class="button white-button">See all promotions</a>  -->
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <ul id="promotion-product" class="row">
                    
                    
                    
                    <section class="gallery-2" style="margin-top: 75px; border-bottom: 2px solid red;">
                        
                    
                        <div class="image-container">
                                {% for burger in burger %}
                                
                               
                                <div class="deneme-div" style="width: max-content; max-width: 300px; min-height: 600px;" >
                                    <h1 style="margin: 0; text-align: center; white-space: nowrap;" class="deneme-name">{{burger.name}}</h1>
                                    <img src="{{burger.image.url}}" alt="gms yapı inşaat bostancı" class="deneme-img">
                                    <p class="deneme-description" style="text-align: center; word-wrap: break-word;">{{burger.description}}</p>
                                </div>
                            {% endfor %}
                               

                            
                        </div>
                      </section>



                    <div class="clear"></div>
                </ul>
            </div>

            <!-- For fix float problem and give space area with height 90px -->
            <div class="clear space-area"></div>
        </div>
        <!-- <div class="triangle bottom promotion"></div> -->

        <!-- <div class="triangle top promotion"></div> -->
        <!-- Container for promotion content -->
        <div class="container promotion">
            <div id="promotion" class="main-container">
                <div class="row">
                    <div class="promotion-title col">
                        <div class="title">
                            <h1>Fries</h1>
                            
                        </div>
                    </div>
                    <div class="promotion-button col">
                        <div class="button-container">
                             <!-- <a class="button white-button">See all promotions</a>  -->
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <ul id="promotion-product" class="row">
                    
                    
                    
                    <section class="gallery-2" style="margin-top: 75px; border-bottom: 2px solid red;">
                        
                    
                        <div class="image-container">
                            {% for burger in fries %}
                                
                               
                                <div class="deneme-div" style="width: max-content; max-width: 300px; min-height: 600px;">
                                    <h1 style="margin: 0; text-align: center; white-space: nowrap;" class="deneme-name">{{burger.name}}</h1>
                                    <img src="{{burger.image.url}}" alt="gms yapı inşaat bostancı" class="deneme-img">
                                    <p class="deneme-description" style="text-align: center; word-wrap: break-word;">{{burger.description}}</p>
                                </div>
                            {% endfor %}
                           

                        </div>
                      </section>



                    <div class="clear"></div>
                </ul>
            </div>

            <!-- For fix float problem and give space area with height 90px -->
            <div class="clear space-area"></div>
        </div>

        <div class="container promotion">
            <div id="promotion" class="main-container">
                <div class="row">
                    <div class="promotion-title col">
                        <div class="title">
                            <h1>Drinks</h1>
                            
                        </div>
                    </div>
                    <div class="promotion-button col">
                        <div class="button-container">
                             <!-- <a class="button white-button">See all promotions</a>  -->
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <ul id="promotion-product" class="row">
                    
                    
                    
                    <section class="gallery-2" style="margin-top: 75px; border-bottom: 2px solid red;">
                        
                    
                        <div class="image-container">
                            {% for burger in drinks %}
                                
                               
                                <div class="deneme-div" style="width: max-content; max-width: 300px; min-height: 600px;">
                                    <h1 style="margin: 0; text-align: center; white-space: nowrap;" class="deneme-name">{{burger.name}}</h1>
                                    <img src="{{burger.image.url}}" alt="gms yapı inşaat bostancı" class="deneme-img">
                                    <p class="deneme-description" style="text-align: center; word-wrap: break-word;">{{burger.description}}</p>
                                </div>
                            {% endfor %}
                           

                        </div>
                      </section>



                    <div class="clear"></div>
                </ul>
            </div>

            <!-- For fix float problem and give space area with height 90px -->
            <div class="clear space-area"></div>
        </div>
        <div class="triangle bottom promotion"></div>

        <div class="triangle top promotion"></div>
        <!-- Container for promotion content -->
        <div class="container promotion">
            <div id="promotion" class="main-container">
                <div class="row">
                    <div class="promotion-title col">
                        <div class="title">
                            <h1>Offers</h1>
                            
                        </div>
                    </div>
                    <div class="promotion-button col">
                        <div class="button-container">
                             <!-- <a class="button white-button">See all promotions</a>  -->
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <ul id="promotion-product" class="row">
                    
                    
                    
                    <section class="gallery-2" style="margin-top: 75px; border-bottom: 2px solid red;">
                        
                    
                        <div class="image-container" style="margin-left: 5%;">
                            {% for burger in offers %}
                                
                               
                            <div class="deneme-div" style="width: max-content; max-width: 300px; min-height: 600px;">
                                    <h1 style="margin: 0; text-align: center; white-space: nowrap;" class="deneme-name">{{burger.name}}</h1>
                                    <img src="{{burger.image.url}}" alt="gms yapı inşaat bostancı" class="deneme-img">
                                    <p class="deneme-description" style="text-align: center; word-wrap: break-word;">{{burger.description}}</p>
                                </div>
                            {% endfor %}
                           

                        </div>
                      </section>



                    <div class="clear"></div>
                </ul>
            </div>

            <!-- For fix float problem and give space area with height 90px -->
            <div class="clear space-area"></div>
        </div>
        
        
        
{% endblock content %}
{% block extraJS %}
<script src="{% static 'burger_app/js/food.js' %}"></script>
<script async>

    let images = document.querySelectorAll(".image-container img");
    let viewImage = document.querySelector(".view-image");
    let fullImage = document.querySelector(".view-image img");
    let fullName = document.querySelector("#view-image-title");
    let fullDesc = document.querySelector("#view-image-description");
    let closeBtn = document.querySelector(".view-image span");
    let image = document.querySelector(".image-container");
    let next = document.querySelector(".next-image-button")
    let prev = document.querySelector(".prev-image-button")
    for(let image of images){
        image.addEventListener("click",function(e){
            console.log(e);
            viewImage.style.display = "flex";
            fullImage.src = e.target.src;
            let parentDiv = e.target.closest('.deneme-div');
            let closestH1 = parentDiv.querySelector('.deneme-name');
            let closestP = parentDiv.querySelector('.deneme-description');
            fullName.textContent = closestH1.textContent
            fullDesc.textContent = closestP.textContent
            console.log("Closest h1 with class 'deneme-name': ", closestP.textContent);
        })
        
    }
    closeBtn.addEventListener('click',function(){
        viewImage.style.display = "none";
    });
    let lists = document.querySelectorAll(".deneme-img")
          var imageList = [];
          for (var i = 0; i < lists.length; i++) {
            imageList.push(lists[i].src)
          }
    let listsName = document.querySelectorAll(".deneme-name")
          var nameList = [];
          for (var i = 0; i < listsName.length; i++) {
            nameList.push(listsName[i].textContent)
          }

    let listsDesc = document.querySelectorAll(".deneme-description")
          var descList = [];
          for (var i = 0; i < listsName.length; i++) {
            descList.push(listsDesc[i].textContent)
          }
    next.addEventListener("click", function(){
          
          var index = imageList.indexOf(fullImage.src)
          if (index === imageList.length -1 ) {
            fullImage.src = imageList[0]
            fullName.textContent = nameList[0]
            fullDesc.textContent = descList[0]
          } else {
            fullImage.src = imageList[index + 1]
            fullName.textContent = nameList[index + 1]
            fullDesc.textContent = descList[index + 1]

          }
          
          
        });
    prev.addEventListener("click", function(){
          
          var index = imageList.indexOf(fullImage.src)
          if (imageList[index] === imageList[0]) {
            fullImage.src = imageList[imageList.length - 1]
            fullName.textContent = nameList[nameList.length -1]
            fullDesc.textContent = descList[descList.length -1]

          } else {
            fullImage.src = imageList[index - 1]
            fullName.textContent = nameList[index - 1]
            fullDesc.textContent = descList[index -1 ]

          }
          
          
        });
    
  </script>
{% endblock extraJS %}