
{% load static %}
<!DOCTYPE html>

<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
    
    <!-- Load Google font on the first <head> to prevent error in IE -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,800,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Burger Republic</title>
	<meta name="author" content="Burger Republic" />
	<meta name="description" content="Burger Republic" />
	<meta name="keywords"  content="Burger Republic" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'burger_app/css/style.css' %}">
    {% block extraCss %}
    
    {% endblock extraCss %}

    
    <script>
      less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false
      };
    </script>

    <script type="text/javascript" src="{% static 'burger_app/js/less.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'burger_app/js/retina.min.js' %}"></script> -->
	<script type="text/javascript" src="{% static 'burger_app/js/modernizr.custom.71422.js' %}"></script>
</head>

<body>
    {% block extraHtml %}
    
    {% endblock extraHtml %}
    
    <!-- Main Menu -->
    <nav class="menu menu-left">
        <div class="close-menu-btn icon-menu active">&nbsp;</div>    
        <ul>
            <li class="active"><a href="{% url 'burger_app:index' %}">Home</a></li>
            <li><a href="{% url 'burger_app:our_food' %}">Menu | Offers</a></li>
            <li><a href="{% url 'burger_app:about' %}">About Us</a></li>
            <li><a href="{% url 'burger_app:contact' %}">Contact</a></li>
        </ul>
    </nav>
    <!-- Menu Button -->
    <div class="menu-btn"><span class="icon-menu">&nbsp;</span>      </div>

    <!-- Entire area of website, menu will dissaper when this area clicked -->
    <div class="site-overlay"></div>
{% block content %}

{% endblock content %}


            {% comment %} <div class="clear space-area"></div> {% endcomment %}
        

        {% comment %} <div class="triangle top footer"></div> {% endcomment %}
        <!-- Footer Area -->
        <div class="container footer">
            <div id="footer" class="main-container">
                <div class="footer-top row">
                    <div class="footer-info col">
                        <div class="footer-logo">
                            <div class="logo-icon"><img src="{% static 'burger_app/img/footer-logo.png' %}" alt="Burger Republic's logo"/></div>
                        </div>
                        <div class="footer-address">
                            <a target="_blank" href="https://www.google.ca/maps/place/Burger+Republic/@43.6491981,-79.4242787,17z/data=!4m6!3m5!1s0x882b35dec41295ab:0x5f004a4bd9ba0599!8m2!3d43.6491942!4d-79.4217038!16s%2Fg%2F11w8y900y3?entry=tts&g_ep=EgoyMDI0MDkxOC4xKgBIAVAD">
                            Burger Republic</br>1171 Dundas St W, Toronto, ON M6J 1X3, Canada
                        </a>
                        </div>
                        <div class="footer-contact">
                            <a href="tel:+14168491171">+1 (416) 849 1171</a><br/><a href="mailto:info@burgerrepublic.ca?subject=Hello&body=Hello, I would like to know more about...">info@burgerrepublic.ca</a>
                        </div>
                    </div>
                    <div class="footer-newsletter col">
                        <div class="footer-newsletter-container">
                            <form id="subscribe-newsletter">
                                <input id="email" type="email" class="footer-input-text" placeholder="Enter your email to join newsletter..."/>
                                <input id="subscribe-btn" type="button" class="button grey-button footer-input-submit" value="Subscribe"/>
                            </form>
                            <p id="response-message" style="margin-top: 75px;"></p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="footer-bottom row">
                    <div class="footer-copyright col">
                        <div class="footer-copyright-text">Copyright 2024 Burger Republic.</div>
                    </div>
                    <div class="footer-social-media col">
                        <div class="social-media-icon">
                            <!-- <span class="icon-social-media icon-facebook">&nbsp;</span>
                            <span class="icon-social-media icon-google">&nbsp;</span> -->
                            <a style="text-decoration: none;" href="https://www.instagram.com/burgerrepublic.ca/" aria-label="Burger Republic Instagram">
                                <i style="color: white; margin-right: 5px; font-size: 24px; text-decoration: none;" class="fa-brands fa-instagram"></i>
                              </a>
                            <a style="text-decoration: none;" href="https://www.facebook.com/people/Burger-Republic/61565497037637/"  aria-label="Burger Republic Facebook"><i style="color: white; margin-right: 5px; font-size: 24px;" class="fa-brands fa-facebook"></i></a>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
       
    </div>


    <script type="text/javascript" src="{% static 'burger_app/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'burger_app/js/pushy.js' %}"></script>
    <script type="text/javascript" src="{% static 'burger_app/js/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'burger_app/js/fastclick.js' %}"></script>
    <script type="text/javascript" src="{% static 'burger_app/js/script.js' %}"></script>
    {% block extraJS %}
    
    {% endblock extraJS %}
    <script>
        document.getElementById('subscribe-btn').addEventListener('click', function() {
          const email = document.getElementById('email').value;
          const csrfToken = '{{ csrf_token }}'; 
      
          fetch('/subscribe/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrfToken  
            },
            body: JSON.stringify({ email: email })
          })
          .then(response => response.json())
          .then(data => {
            document.getElementById('response-message').textContent = data.message;
          })
          .catch(error => {
            console.error('Error:', error);
          });
        });
      </script>
</body>

